/* Base Application Styles */
body {
  color: #555;
  background: #eee;
  font-size: 62.5%;
}
$bg-color: #EE7419;
$hover-color: #FEF1E8;
$word-color:#333;
$border-color:#999;

li{
  list-style: none;
}
button:focus{
  outline:none;
}

/*修改input[type=range]的默认样式*/
/*input[type=range]{
  width: 100%;
  height:8.4px;
  cursor: pointer;
  background-color: $bg-color;
  border-radius: 0.15rem;
  border: 0.1rem solid #aaa;
  &:focus{
    outline: 0;
  }
}*/
input[type=range]::-webkit-slider-runnable-track {   
  width: 100%;   
  height: 0.7rem;   
  cursor: pointer;      
  background: $bg-color;   
  border-radius: 0.1rem;   
  border: 0.1rem solid #aaa;   
}   
    
input[type=range]:focus::-webkit-slider-runnable-track {   
  background: #367ebd;   
}   
    
input[type=range]::-moz-range-track {   
  width: 100%;   
  height: 0.7rem;   
  cursor: pointer;      
  background: $bg-color;   
  border-radius: 0.1rem;   
  border: 0.1rem solid #aaa;   
}   
    
input[type=range]::-ms-track {   
  width: 100%;   
  height: 0.7rem;   
  cursor: pointer;   
  background: transparent;   
  border-color: transparent;   
  border-width: 16px 0;   
  color: transparent;   
}   
input[type=range]::-ms-fill-lower {   
  background: #2a6495;   
  border: 0.1rem solid #aaa;   
  border-radius: 2.6px;      
}   
input[type=range]:focus::-ms-fill-lower {   
  background: $bg-color;   
}   
input[type=range]::-ms-fill-upper {   
  background: $bg-color;   
  border: 0.1rem solid #aaa;   
  border-radius: 2.6px;      
}   
input[type=range]:focus::-ms-fill-upper {   
  background: #367ebd;   
} 

/* iconfont start */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_5o7isvt3f0n0o1or.eot');
  src: url('//at.alicdn.com/t/font_5o7isvt3f0n0o1or.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_5o7isvt3f0n0o1or.woff') format('woff'),
  url('//at.alicdn.com/t/font_5o7isvt3f0n0o1or.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_5o7isvt3f0n0o1or.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
  font-size: 1.3rem;
  font-weight: 100;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; 
  /*color:#fff;*/
}
/* iconfont end */

/* navbar start */
.navbar{
  background-color: $bg-color;
  padding: 0.5rem 0;

  .navbarContainer{
    width: 1280px;
    margin:0 auto;
  }
  .paperMg{
    font-size: 1.3rem;
    font-weight: bold;
  }
  a{
    margin:0 2rem ;
    font-size: 1rem;

    text-decoration: none;
    color:#fff;
  }
}
/* navbar end */

/* content start */
.content{
  width: 100%;
  height:100%;
  
  @at-root{
    .appContainer{        /*,.dataCheckContainer*/
      width:60rem;
      height:100%;
      margin:0 auto;
      margin-top: 3rem;

      background-color: #fff;
      
      .appBtn{
        margin:6rem -6rem;
        padding:0.8rem 2.4rem;
        font-size: 1.2rem;

        position: relative;
        left:50%;
        
        border-radius: 0.2rem;
        display: inline-block;
        
        background-color: $bg-color;
        cursor: pointer;

        /*display: none;*/
      }
      .addPaper{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        .iconfont{
          margin-right: 1rem;
        }
      }
    }
  }
  
}
/* content end */

 /* MsgEdit start */
 .paperEdit{
  color:#666;

  .title{
    padding:2rem 0;
    margin: 2rem;

    border-bottom: 0.1rem solid #999;

    .paperTitle{
      width:100%;
      padding:1rem 0;

      font-size:1.3rem;
      font-weight: 800;
      text-align: center;

      border:none;
      &:hover{
        background-color:$hover-color;
        border:none;
      }
      &:focus{
        background-color:$hover-color;
        outline:none;
      }
    }
  }
  .questionContent{
    margin:0 2rem ;

    .question{
      position: relative;
      font-size: 1rem;
      margin: 0 2rem;
      padding: 0.1rem 1.5rem 2rem 1.5rem;
      li{
        margin: 0.6rem 0;
      }
      input{
        margin-right: 0.5rem;

      }
      input[type="text"]{
        /*margin-left: 2.6rem;
        width:30rem;
        height: 6rem;*/
        border:0;
        &:focus{
          outline:none;
        }
      }
      input[type="radio"],
      input[type="checkBox"]{
        background-color: #fff;
      }
      .multiCheck{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
      }
      &:hover{
        background-color: $hover-color;
        input[type="text"]{
          background-color: $hover-color;
          &:focus{
          background-color: #fff;
        }
        }
      }
      .moveBtn{
        position: absolute;
        right:1.5rem;
        bottom: 1rem;

        a{
          margin:0 0.5rem;
          color:#666;
          text-decoration: none;

          &:active,
          &:hover
          {
            color:$bg-color;
          }
        }
      }
    }
  }
  .questionOperate{
    margin:0 2rem ;
    border:0.1rem solid #999;
  }
  .optionsBarHide{
    display: none;
  }
  .optionsBar{
    /*margin:0 2rem;*/
    padding:1rem 0;
    
    font-size: 1rem;
    text-align: center;

    /*display: none;*/
    .radioBtn,
    .multiCheckBtn,
    .textBtn{
      width:6rem;
      margin:0 1rem;
      padding: 0.5rem;

      display: inline-block;
      cursor:pointer;
      
      background-color: #eee;
      border:0.1rem solid #999;
      border-radius: 0.15rem;

      .iconfont{
        padding:0 0.5rem ;
        font-size:0.8rem;
      }
      &:focus{
        background-color: $bg-color;
        color:#fff;
      }
    }
  }
  .paperQuestion{
    /*margin:0 2rem ;*/
    padding:2rem 0;

    font-size: 1rem;
    text-align: center; 

    background-color: #eee;
    

    cursor:pointer;
    .iconfont{
      padding-right: 1.5rem;
    }
  }

  .paperBottom{
    margin: 2rem;
    padding: 2rem 5rem 3rem 5rem;
    border-top: 0.1rem solid #999;
    
    position: relative;

    .deadline{
      font-size: 1rem;
    }
    .date{
      margin-left: 1rem;
    }

    .paperFinished{
      display: inline-block;
      position: absolute;
      right: 5rem;
      top:2rem;

      .savePaper,
      .publishPaper{
        padding:0.4rem 1rem;
        margin:0 1rem 0 0;
        
        font-size: 1rem;
        color:#666;

        border:0.1rem solid #999;
        border-radius: 0.2rem;

        background-color: #fff;

        cursor: pointer;
        text-decoration: none;

        &:focus{
          color:#fff;
          background-color:$bg-color;
          outline:none;
        }
      }
    }
  }
}
 /* MsgEdit end */

 /* QuestionnaireList start */
 .ListContainer{
  width:60rem;
  height:100%;
  margin:0 auto;
  margin-top: 3rem;

  background-color: #fff;
  .liTitle{
    background-color: #eee;
    overflow: hidden;
    li{
      padding:1rem 0 ;
      font-size: 1rem;

      float:left;
    }
    @at-root{
      .radio{
        margin:0 -1rem;
      }
      .msgTitle{
        width: 20rem;
        margin-left:2rem;
      }
      .time{
        width: 10rem;
      }
      .statu{
        width: 7rem;
      }
      .operate{
        width: 9rem;
      }
      .addBtn{
        width: 8rem;
        margin-top: -0.3rem;
        button{
          padding:0.3rem 0.5rem;
          background-color:$bg-color;
          color:#fff;

          border:0.1rem solid orange;
          cursor: pointer;
          .iconfont{
            padding :1rem 0.3rem;
            font-size: 90%;
          }
        }
      }
    } 
  }
  .listContent{
    margin-top:-0.75rem;
    .list{
      overflow: hidden;
      &:hover{
        background-color:$hover-color;
      }
    }
    ul{
      margin: 0 1rem;
      border-bottom:0.1rem solid #999;
      background-color: #fff;

      .msgTitle{
        margin-left: 1rem;
      }
      .time{
        font-size: 0.8rem;
        margin-top:0.2rem;
      }
      .btnContainer{
        padding-left: 2.2rem;
      }
    }
    .listBottom{
      ul{
        border:none;
        input{
          margin-right: 0.3rem;
        }
      }
      @at-root{
        .btn{
          width:4rem;
          text-align: center;
          display: inline-block;
          border:0.1rem solid #999;
          padding:0.2rem 0;
          border-radius: 0.2rem;
          font-size: 0.9rem;
          background-color: #fff;

          margin: 0 0.25rem;
          cursor: pointer;
          a{
            color:#333;
            text-decoration: none;
          }
          &:focus{
            background-color: $bg-color;
            color:#fff;
          }
        }
      }
      padding-bottom: 3rem;
    }
  }
 }
 /* QuestionnaireList end */

 /* dataCheck start */
.dataCheckContainer{
  width:60rem;
  height:100%;
  margin:0 auto;
  margin-top: 3rem;
  padding:1.5rem 2rem;
  position: relative;

  background-color: #fff;

  .dc_title{
    width: 100%;
    
    text-align: center;
    border-bottom:0.1rem solid $border-color;
    
    h1{
    }
    p{
      margin-top: -0.5rem;
      font-size: 0.9rem;
    }
    a{
      position: absolute;
      left: 2rem;
      top:1.5rem;

      text-decoration: none;
      color:$word-color;
      font-size: 1rem;
    }
  }

  .dc_content{
    padding:0.8rem 1.5rem;
    .listBlock{
      border:0.1rem solid $border-color;
      margin:0.8rem 0;
      padding:0 0 0 1.5rem;
      position: relative;
    }
    li{
      position: relative;
      display: block;
      margin:0.5rem 0 0 -1.3rem;
      /*border:0.1rem solid $border-color;*/
    }
    .dataBar{
      position: absolute;
      right: 1rem;
      top:0;
      width:19rem;
      /*border:0.1rem solid $border-color;*/
    }
    input[type=range]{
      width: 14rem;
      margin-right: 0.5rem;
    }
    .dataProportion{
      /*border:0.1rem solid $border-color;*/
      position: absolute;
      top:1rem;
      right:16.5rem;

      font-size: 0.9rem;
    }
  }

  .dc_bottom{
    width: 100%;
    padding-top: 1rem;
    
    text-align: center;
    border-top: 0.1rem solid $border-color;
    a{
      padding:0.2rem 1rem;

      border: 0.1rem solid orange;
      text-decoration: none;
      color: #fff;
      background-color: $bg-color;
      font-size: 1rem;
    }
  }
}

 /* dataCheck end */
